*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background: black;
}

.container {
   text-align: center;
}

section {
   height: max-content;
   border-radius: 5px;
   // margin-left: 5%;
   // position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 999;
}

@media only screen and (max-width: 600px) {
   section {
      min-width: 350px;
   }
}

// .mat-progress-spinner circle, .mat-spinner circle {
//    stroke: #19224d!important;
//  }